body {
    margin:0;
}

.product_display{
    margin-top:30px;
    margin-left:124px;
    width:100%;
    height:500px;
   /* background:purple;*/
    display:flex;
    flex-direction:row;
    
    
}

.product_name {
    font-size: 30px;
    color: rgb(96, 0, 128);
    background: white;
    border-style: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
}
.product_detail {
    font-size: 25px;
    color: rgb(96, 0, 128);
    background: white;
    border-style: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
}
.product_price {
    font-size: 25px;
    color: rgb(96, 0, 128);
    background: white;
    border-style: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
}

.view_product_image{
    width:50%;
    height:500px;
    /*background:orange;*/
}
.sofa2{
    width:89%;
    height:auto;
    margin-top:20px;
    margin-bottom:20px;
}
.addtocart{
    margin-top:30px;
    background:purple;
    color:white;
    border-radius:10px;
    width:80px;
    height:40px;
}
    .addtocart:hover {
        margin-top: 30px;
        background: white;
        color: purple;
        border-color: purple;
        border-radius: 10px;
        width: 80px;
        height: 40px;
    }
.product_datalist{
    margin-bottom:70px;
    margin-top:30px;
}
.view_p_description{
    margin-top:20px;
    margin-bottom:20px;
}
.view_pname{
    font-size: 40px;
    font-weight:500;
}
.view_product_details{
    margin-left:30px;
    display:flex;
    flex-direction:column;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:purple;
    margin-top:100px;
    
}
.checkoutbutton {
    background: purple;
    color: white;
    border-radius: 10px;
    width: 180px;
    height: 40px;
    margin-top:20px;
    margin-left:550px;
    margin-bottom:80px;
}

    .checkoutbutton:hover {
        margin-bottom: 80px;
        margin-left: 550px;
        background: white;
        color: purple;
        border-color: purple;
        border-radius: 10px;
        width: 180px;
        height: 40px;
        margin-top: 20px;
    }